doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel="stylesheet", href="style.css")
  body
    .header
      .content
        .lenta
          a(href='#') HOME
          a(href='#') PORTFOLIO
          a(href='#') ABOUT US
          a(href='#') CONTACT
        .text
          .text-info
            h1 our strong
              br
              | organaisation
            p Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiu-
              br
              | smod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do
              br
              |  eiusmod tempor incididunt.
            .button
              a(href='#') Contact Us
          .video
            i.icon-video-play
    .section2
      .content
        .text2
          h1 do you know we can
            br
            | provide for you ?
          p Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiu-
            br
            | smod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet,
            br
            |  consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut
            br
            |  labore et.
          .button2
            a(href='#') Learn More
        .colum
          .colum1
            img(src='img/Settings.jpg', alt='')
            h3 Management
            p Lorem ipsum dolor sitea amet, zixf
              br
              |  conseit  adipi cing elit, seddi do eius-
              br
              | mod btdempor in didunt utlae ore
              br
              |  etioe.Lorem ipsum new idolor
          .colum2
            img(src='img/Pencil.jpg', alt='')
            h3 UI /UX Design
            p Lorem ipsum dolor sitea amet, zixf
              br
              |  conseit  adipi cing elit, seddi do eius-
              br
                | mod btdempor in didunt utlae ore
                br
                |  etioe.Lorem ipsum new idolor sit amet,
            .colum3
              img(src='img/Diamond.jpg', alt='')
              h3 Logo / Branding
              p Lorem ipsum dolor sitea amet, zixf
                br
                |  conseit  adipi cing elit, seddi do eius-
                br
                | mod btdempor in didunt utlae ore
                br
                |  etioeew idolor sit amet,
            .colum4
              img(src='img/Truck%202.jpg', alt='')
              h3 Animation
              p Lorem ipsum dolor sitea amet, zixf
                br
                |  conseit  adipi cing elit, seddi do eius-
                br
                | mod btdempor in didunt utlae ore
                br
                |  etioe.Lorem ipsum new idolor sit amet,
      .section3
        .content
        .line
        .feature
          h1 feature products
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          .line2









